---
- name: stop container
  docker_container:
    name: '{{ item }}'
    state: stopped
  with_items:
    - '{{ groups.container }}'

- name: remove container
  docker_container:
    name: '{{ item }}'
    state: absent
  with_items:
    - '{{ groups.container }}'
