JAVA_OPTS=${JAVA_OPTS}" -DspringMvcExample.configurationFile={{ app_conf_path }}/application.properties"
JAVA_OPTS=${JAVA_OPTS}" -Dlogback.configurationFile={{ app_conf_path }}/logback.xml"
export JAVA_OPTS
